body {
	background-color: var(--fill-medium);
}

.question{
	border: 2px solid var(--dark);
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	background-color: var(--fill-light);
}

.answer{
	display: flex;
	flex-direction: row;
	padding: 3px;
}

.answerText{
	margin-left: 10px;
}

.questionInput{
	width: 70%;
}

#descriptionInput{
	width: 70%;
}