<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Quiz</title>
		<link rel="stylesheet" th:href= "@{/css/colourScheme.css}">
		<link rel="stylesheet" th:href= "@{/css/allPages.css}">
		<link rel="stylesheet" th:href= "@{/css/questions.css}">
		<link rel="stylesheet" th:href= "@{/css/edit.css}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<span class = "navBar">
			<a class="navButton" href="/home">home</a>
			<a class="navButton" href="/">log out</a>
			<a class="navButton" th:href="@{/viewQuiz(quizId=${selectedQuiz.quizId})}">view quiz</a>
		</span>
		<br>
		<br>
		<form id="newQuestionForm">
			<button id="addQuestion">Add Question</button>
			<select name="newQuestionNumber" id="newQuestionDropDown">
			</select>
		</form>
		<form id="editQuiz">
			<br>
			<button type ="submit" id="saveQuiz">Save Changes</button>
			<br>
			Title
			<br>
			<input id="titleInput" th:value="${selectedQuiz.title}"></input>
			<br>
			Description
			<br>
			<textarea id="descriptionInput" th:text="${selectedQuiz.description}"></textarea>
			<div id="allQuestions" th:data-quiz-id="${selectedQuiz.quizId}">
			<th:block th:each="questionEntry : ${selectedQuiz.questions.questions}">
				<div class="question" th:data-question-id="${questionEntry.id}">
					<textarea class="questionInput" th:text="${questionEntry.question}"></textarea>
			   		<th:block th:each="answer : ${questionEntry.answerOptions}">
		   				<div class="answer">
		   					<input th:if="${answer} == ${questionEntry.correctAnswer}" class="radioAnswer" type="radio" th:name="${questionEntry.id}" th:value="${answer}" checked>
		   					<input th:if="${answer} != ${questionEntry.correctAnswer}" class="radioAnswer" type="radio" th:name="${questionEntry.id}" th:value="${answer}">
							<input class="answerTextInput" th:value="${answer}"></input>
							<button class="deleteAnswer">Delete Answer</button>
						</div>
			   		</th:block>
			   		<button class="addAnswer">Add Answer</button>
			   		<button class="deleteQuestion">Delete Question</button>
		   		</div>
	   		</th:block>
	   		</div>
   		</form>
		<script src = "/js/question-page.js"></script>
		<script src = "/js/edit-question-page.js"></script>
	</body>
</html>