<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Quiz</title>
		<link rel="stylesheet" th:href= "@{/css/home.css}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<h2>Please select a quiz</h2>
		<th:block th:each="quiz : ${quizes}">
			<a th:href="@{/viewQuiz(quizTitle=${quiz.title})}" th:text="${quiz.title}"></a>
			<p th:text="${quiz.description}"></p>
   		</th:block>
		<script src = "/js/home-page.js"></script>
	</body>
</html>