<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Quiz</title>
		<link rel="stylesheet" th:href= "@{/css/questions.css}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<span class = "navBar">
			<a class="navButton" href="/home">home</a>
			<a class="navButton" href="/">log out</a>
			<a th:if="${session.access} == 'Edit'" class="navButton" th:href="@{/editQuiz(quizId=${selectedQuiz.quizId})}">edit quiz</a>
		</span>
		<h1 th:text="${selectedQuiz.title}"></h1>
		<div id="allQuestions">
		<th:block th:each="questionEntry : ${selectedQuiz.questions.questions}">
			<div class="question">
				<p th:text="${questionEntry.question}"></p>
		   		<th:block th:if="${session.access} == 'View' OR ${session.access} == 'Edit'">
		   			<th:block th:each="answer : ${questionEntry.answerOptions}">
		   				<div class="answer">
		   					<input class="radioAnswer" type="radio" th:name="${questionEntry.id}" th:value="${answer}">
							<div class="answerText" th:text="${answer}"></div>
						</div>
		   			</th:block>
		   		</th:block>
		   	</div>
   		</th:block>
   		</div>
		<script src = "/js/question-page.js"></script>
	</body>
</html>